<div class="flex-grow-1">
    <div class="container mt-5 mb-5 bg-light">
        <div class="text-center p-3">
            <h2>Bienvenidos</h2>
        </div>
        <div class="row text-center p-4">
            <div class="col-md-6">
                <img src="public/imagenes/Charizard.png" alt="Bienvenida" class="img-fluid rounded">
            </div>
            <div class="col-md-6">
                <h3>¡Descubre el Mundo de Pokémon!</h3>
                <p>
                    Bienvenidos a nuestra página dedicada a todos los entrenadores Pokémon y fanáticos de esta
                    increíble franquicia. Aquí podrás explorar, aprender y sumergirte en el fascinante universo
                    de Pokémon, con información actualizada y recursos útiles para cada entrenador.
                </p>
                <p>
                    Nuestro objetivo es ofrecer una experiencia completa, desde guías sobre los diferentes tipos
                    de Pokémon, estrategias de batalla, hasta información sobre los últimos lanzamientos y eventos
                    Pokémon. ¡Únete a nuestra comunidad y conviértete en un verdadero maestro Pokémon!
                </p>
            </div>
        </div>
    </div>
</div>
